version: '3.7'

services:
    db:
        build: 
            context: ./db
        image: postgres11-postgis2.5
        container_name: postgres11-postgis2.5
        restart: always
        ports:
            - 5432:5432
        volumes: 
            - ./backups:/opt/backups
            - ./data:/var/lib/postgresql/data
        networks:
            - db_connexion
        env_file:
            - ./conf/.env.dev
    app:
        build: ./app
        container_name: django
        expose:
            - 8000
        volumes:
            - static_data:/home/app/web/staticfiles
            - static_data:/vol/media
        env_file:
            - ./conf/.env.dev
        depends_on:
            - db
        networks:
            - default
            - db_connexion

    proxy:
        build:
            context: ./proxy
        container_name: proxy
        volumes:
            - static_data:/home/app/web/staticfiles
            - static_data:/vol/media
        ports:
            - 80:80
        depends_on:
            - app
        networks:
            - default

volumes:
    static_data:

networks:
    default:
    db_connexion:
        driver: bridge
