version: '3.3'

services:
    db:
        build: 
            context: ./db
        image: postgres11-postgis2.5
        container_name: ontable10-postgres11-postgis2.5
        restart: always
        ports:
            - 5432:5432
        volumes: 
            - ./backups:/opt/backups
            - ./data:/var/lib/postgresql/data
        networks:
            - db_connexion
        env_file:
            - ./conf/.env.prod
    redis:
        image: "redis:alpine"
        container_name: ontable10-redis
        networks: 
            - redis_backend_connexion
            - redis_celery_connexion
    celery_worker:
        build:
            context: ./backend
            dockerfile: Dockerfile.celery
        container_name: ontable10-celery_worker
        command: sh -c "celery -A onTableAPI worker -l info"
        restart: always
        depends_on: 
            - redis
            - backend
            - db
        env_file: 
            - ./conf/.env.prod
        volumes: 
            - ./backend/:/usr/src/app/
            - media_data:/vol/media/
        networks: 
            - redis_celery_connexion
            - db_connexion
    backend:
        build: ./backend
        container_name: ontable10-backend
        volumes:
            - static_data:/home/app/web/staticfiles
            - media_data:/vol/media/
            - ./backend/:/usr/src/app/
        env_file:
            - ./conf/.env.prod
        depends_on:
            - db
            - redis
        networks:
            - proxy_backend
            - db_connexion
            - redis_backend_connexion
    proxy:
        build:
            context: ./proxy
            dockerfile: Dockerfile.dev
        container_name: ontable10-proxy
        volumes:
            - static_data:/home/app/web/staticfiles
            - media_data:/vol/media/
        ports:
            - 8080:8080
        depends_on:
            - backend
        networks:
            - proxy_backend
    tornado:
        build: 
            context: ./tornado
        command: python main.py
        container_name: tornado
        environment:
        - BDD_HOST=bdd
        - BDD_NAME=onTable
        - BDD_USER=user
        - BDD_PASSWORD=password
        - WEBSOCKET_PORT=8090
        volumes:
        - .:/code
        ports:
        - "8080:8080"
volumes:
    static_data:
    media_data:
networks:
    redis_backend_connexion:
    redis_celery_connexion:
    proxy_backend:
    db_connexion:
        driver: bridge
