body{
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
.formDiv{
  width: 100%;
  display: flex;
  justify-content: center
}

#submitBTN{
  padding: 20px;
  border-radius: 10px;

}

 .OuterList li{
      list-style-type: none;
      width: 100%;
      align-items: center;
 }

 .ListDiv{
   background-color: #e6e6e6;
   border-radius: 10px;
   width: 80vw;
   margin: 3px;
   padding: 3px 6px 3px 10px;
   display: flex;
   justify-content: center;
 }

 .ListTitle{/* IMP */
   border: 1px solid #808080;
   border-radius: 10px;
   width: 100%;
   margin: 10px;
   text-align: center;
 }

.innerListTitle{ /* IMP */
  border: 1px solid #808080;
  border-radius: 10px;
  width: 100%;
  padding: 3px;
  margin: 10px;
  text-align: center;
}
.OuterListTitle{/* IMP */
  border: 1px solid #808080;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  text-align: center;
}
 .ClipImg{ /* IMP */
  background-color: #e6e6e6;
  height: 100px;
  margin: 4px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size:auto 100%;
  width: 80px;
 }

 .PencilImg{ /* IMP */
   background-color: #e6e6e6;
   height: 70px;
   width: 80px;
   margin: 4px;
   cursor: pointer;
   align-self: center;
   background-repeat: no-repeat;
   background-size:auto 100%;
 }

 .CrossImg{ /*IMP*/
   background-color: #e6e6e6;
   height: 30px;
   width: 30px;
   margin: 4px;
   cursor: pointer;
   align-self: center;
   background-repeat: no-repeat;
   background-size:auto 100%;
 }

.ElementCrossImg{ /* IMP */
  background-color: #e6e6e6;
  height: 30px;
  width: 30px;
  margin: 4px;
  cursor: pointer;
  align-self: center;
  background-repeat: no-repeat;
  background-size:auto 100%;
 }

 .ButtonDiv{
   display: flex;
   justify-content: center;
 }
 .InsertBTN{ /* IMP */
   text-decoration: none;
   cursor: pointer;
   background-color: #e6e6e6;
   color: #808080;
   padding: 15px 20px 15px 20px;
   border-radius: 50%;
   border: 1px solid #808080;
 }

.InsertFromulaBTN{ /* IMP */
  text-decoration: none;
  cursor: pointer;
  background-color: #e6e6e6;
  color: #808080;
  padding: 15px 20px 15px 20px;
  border-radius: 50%;
  border: 1px solid #808080;
}

.FromulaPlusSign{ /* IMP */
  text-decoration: none;
  cursor: pointer;
  background-color: #e6e6e6;
  color: #808080;
  padding: 15px 20px 15px 20px;
}

.insertFormulaElementBTN{ /* IMP */
  text-decoration: none;
  cursor: pointer;
  background-color: #e6e6e6;
  color: #808080;
  height: 20px;
  align-self: center;
  padding: 10px 15px 10px 15px;
  border-radius: 50%;
  margin: 2px;
  border: 1px solid #808080;
}

 .InsertBTN2{ /* IMP */
   text-decoration: none;
   cursor: pointer;
   background-color: #e6e6e6;
   color: #808080;
   height: 20px;
   align-self: center;
   padding: 10px 15px 10px 15px;
   border-radius: 50%;
   margin: 2px;
   border: 1px solid #808080;
 }

 .ItemDropdown{ /* IMP */
   width: 200px;
   text-align: center;
   background-color: #e6e6e6;
   color: #4d4d4d;
   border: 1px solid #808080;
 }
