{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/logo/logo.png' %}">

    <title>{% trans "Changer le mot de passe "%}</title>

    <!-- Custom styles for this template NEW-->
    <link rel="stylesheet" href="{% static 'css/public/form.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body class="text-center" id="grad">
    <div class="card w-50">
      <div class="card-header text-left">
        <a href="{% url 'homePage' %}" class="text-dark">Accueil</a>
      </div>
      <div class="card-body">
          <h2>{% if token_fail %}Bad Token{% else %}{% trans "Changer le mot de passe"  %} {% endif %}</h2>

          {% if token_fail %}
            <p>{% trans "Le lien est invalide. Il pourrait avoir déjà été utilisé. Réinitialiser le mot de passe : "%}<a href="{% url 'account_reset_password' %}"></a>.</p>
          {% else %}
            {% if form %}
              <form method="POST" action=".">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn btn-primary" type="submit">{% trans "Valider" %}</button>
              </form>
            {% else %}
                <p>{% trans "Votre mot de passe est maintenant changé." %}</p>
            {% endif %}
          {% endif %}
      </div>
    </div>
  </body>
</html>
