{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/logo/logo.png' %}">

    <title>{% trans "Changer le mot de passe" %}</title>

    <!-- Custom styles for this template NEW-->
    <link rel="stylesheet" href="{% static 'css/public/form.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body class="text-center" id="grad">
    <div class="card w-50">
      <div class="card-header text-left">
        <a href="{% url 'homePage' %}" class="text-dark">{% trans "Accueil" %}</a>
      </div>
      <div class="card-body">
      	<h2>{% trans "Votre mot de passe a été changé." %}</h2>
      </div>
    </div>
  </body>
</html>
