/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 100em) {
  .headerimg{
    display: block;
  }
  .banner{
    margin-bottom: -27em;
  }
  .text-banner{
    font-size: 60px;
  }
}

@media (max-width: 75em) {
  .headerimg{
    display: block;
  }
  .banner{
    margin-bottom: -28em;
  }
  .text-banner{
    font-size: 50px;
  }
}

@media (max-width: 48em) {
  .headerimg{
    display: none;
  }
  .banner{
    margin-bottom: -28em;
  }
  .text-banner{
    font-size: 50px;
  }
}

@media (max-width: 28em) {
  .headerimg{
    display: none;
  }
  .headerlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
  }

  .banner{
    margin-bottom: -32em;
  }
  .text-banner{
    font-size: 40px;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.darkblue {
  background-color: rgb(0, 42, 72);
}

.textblue {
  color: rgb(0, 42, 72);
  overflow-y:hidden;
}

.noscroll{
  overflow: hidden;
}

.divider {
  margin-top:100px;
  margin-bottom: 100px;
}

.sdivider {
  margin-top:25px;
  margin-bottom: 25px;
}

*{
  position: relative;
  overflow-x:hidden;
}

.banner{
  position: relative;
  /* Set a specific height */
  height: 500px;
  width: 100%;

  /*margin-bottom: -27em;*/

  background-image: linear-gradient(to right, rgb(0, 39, 65), rgb(232, 170, 191));
  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.ontop{
  z-index: 1500;
}

.ypos{
  position: absolute;
  top: 0px;
}

.banner{
  margin-bottom: -27em;
}

.noscroll{
  overflow-y: hidden;
}
