{% extends 'orders/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{company.name}} {% endblock %}

{% block code %}
	<div class="col-3 pt-1">
		<a class="text-muted h5" href="{% url 'OSHome' company.company_code %}">{% trans "Retour" %}</a>
	</div>
{% endblock %}

{% block restaurant_name %}{{company.name}}{% endblock %}

{% block content%}

	{% if images_from_pdf %}
	    <div class="card-body px-0 py-0">
	      {% for img in images_from_pdf %}
	          <div class="">
	              <img src="{{ MEDIA_URL }}images/{{ img.picture.name }}" alt="{{ image }}" class="w-100">

	          </div>
	      {% endfor %}
	    </div>
	{% else %}
	<div class="card-body px-0 py-0">
		<h1>Document en cours de génération.</h1>
		<p>Le document a été envoyé récemment. Veuillez patienter.</p>
	</div>

	{% endif %}

{% endblock %}
