body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    background: #fff;
}

#mobile-app {
    background: rgb(0, 42, 72);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 42, 72, 1)), color-stop(0%, rgba(0, 42, 72, 1)), to(rgba(237, 183, 232, 1)));
    background: linear-gradient(180deg, rgba(0, 42, 72, 1) 0%, rgba(0, 42, 72, 1) 0%, rgba(237, 183, 232, 1) 100%);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.app-logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.app-logo img {
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

.app-logo span {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #fff;
    display: block;
    line-height: 1.0;
    letter-spacing: 1px;
}

.app-body {
    margin-bottom: 30px;
}

.app-body h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    background: #002a48;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.app-body input[type="text"] {
    background: #343950;
    border: 0;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
}

.menu-box .menu {
    background: #343950;
    border: 0;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-box .menu:hover {
    background: #282b3a;
}

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot:focus,
.owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    background: #ccc !important;
    border-radius: 0px;
    margin: 0 5px;
    outline: 0;
}

.owl-dots .owl-dot.active {
    background: #fff !important;
}

.app-buttom {
    margin-bottom: 10px;
}

.app-buttom a {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.app-buttom a:hover {
    opacity: 0.8;
}
/* ---------------------------------------
			List Items for companies
----------------------------------------- */
#searchListItems{
    margin-top: 10%;
}
#searchListItems li{
    
    background-color: white;
    border: 0;
    
    display: inline-block;
    width: 100%;

    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;

    transition: all 0.3s ease;
}

ul {
    list-style-type: none;
}



/* ---------------------------------------
			Responsive Layout
----------------------------------------- */

/* Desktop layout */

@media (min-width:1200px) {}


/* Big tablet layout */

@media only screen and (min-width:992px) and (max-width:1199px) {}


/* Normal tablet layout */

@media only screen and (min-width:768px) and (max-width:991px) {}

/* Normal mobile layout */

@media only screen and (max-width:767px) {}


/* Width mobile layout */

@media only screen and (min-width:480px) and (max-width:767px) {}
